%html{ lang: "en"}
  %body
    .section
      .container
        .row
          = render 'shared/status'
          .panel
            .panel-heading
              .h3
                = "Create #{@backend.type}"
                - @action = 'create'
              .row
                = render 'form'
