.dropdown.pull-right
  .action_items
    %a.action_item{type: 'button', 'data-toggle' => 'dropdown'}
      New Backend
      %b.caret
    %ul.dropdown-menu{:style => "right: 0; left: auto;"}
      %li
        %a{ href: "#{new_admin_backend_path(type: 'DeviseBackend')}", style: "color: #555; background-color: transparent; border-color: transparent;" }
          DeviseBackend
      %li
        %a{ href: "#{new_admin_backend_path(type: 'LdapBackend')}", style: "color: #555; background-color: transparent; border-color: transparent;" }
          LdapBackend
      %li
        %a{ href: "#{new_admin_backend_path(type: 'ActiveDirectoryBackend')}", style: "color: #555; background-color: transparent; border-color: transparent;" }
          ActiveDirectoryBackend
