!!!
%html{ lang: "en"}
  %body
    .section
      .container
        .row
          .col-md-3
            = render 'shared/status'
          - if current_user && current_user.admin
            .col-md-9
              = render 'backends/index'
        .footer
          = Time.now
