%b
  %font{:size => "+1"}
    Welcome #{current_user ? current_user.email : ''}
%br/
%br/
= Time.now
%p
  - if current_user
    %a{"data-method" => "delete", :href => "/users/sign_out", :rel => "nofollow"} Logout
  - else
    %a{:href => "/users/sign_in"} Login
