.col-md-6
  .panel.panel-default
    %ul.well-list{:style => "margin: 0; padding: 0; list-style: none;"}
      %li.well-sm
        %span.light Users:
        %strong
          = @group.users.map {|u| u.name}.join(', ')
