.col-md-6
  .panel.panel-default
    %ul.well-list{:style => "margin: 0; padding: 0; list-style: none;"}
      %li.well-sm
        %span.light Users:
        %p
          %table.table.table-striped.table-bordered{:cellspacing => "0", :width => "100%"}
            %thead
              %tr.light
                %th Name
                %th Email
            %tbody
              - @group.users.each do |u|
                %tr
                  %td #{u.name}
                  %td #{u.email}

